files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      set -xe
      sudo /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install

commands:
  01-remove-bak:
    command: "rm -rf /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh.bak"
    ignoreErrors: true
  02_set_file_permissions:
    command: "chmod 777 -R /tmp"